<!-- views/homepage.handlebars -->

<main>
    <h1>Welcome to the Dev Blog!</h1>
    <section>
        {{#each posts}}
        <article>
            <h2>{{this.title}}</h2>
            <p>By {{this.user.username}} on {{this.createdAt}}</p>
            <p>{{this.content}}</p>
            <a href="/post/{{this.id}}">Read more</a>
        </article>
        {{/each}}
    </section>
</main>
