<!-- views/post.handlebars -->

<main>
    <h1>{{title}}</h1>
    <p>By {{user.username}} on {{createdAt}}</p>
    <p>{{content}}</p>
    <section>
        <h2>Comments</h2>
        {{#each comments}}
        <div>
            <p>{{this.comment_text}}</p>
            <p>By {{this.user.username}} on {{this.createdAt}}</p>
        </div>
        {{/each}}
    </section>
    {{#if loggedIn}}
    <form id="comment-form">
        <textarea id="comment-text" placeholder="Add a comment"></textarea>
        <button type="submit">Submit</button>
    </form>
    {{else}}
    <p>Please <a href="/login">login</a> to add a comment.</p>
    {{/if}}
</main>
