{{> header}}

<main>
  {{#each posts}}
    <article>
      <h2>{{this.title}}</h2>
      <p>{{this.content}}</p>
      <p>Posted by {{this.user.username}} on {{this.createdAt}}</p>
      <a href="/post/{{this.id}}">Read More</a>
    </article>
  {{/each}}
</main>
